html{
    background-color: rgb(205, 169, 169);
}
h1{
    color: rgb(215, 183, 183);
    text-align: center;
    font-family: 'Rubik Bubbles';
    font-weight: 10px;
    font-size: 100px;
}
p{
    text-decoration: double;
    font-family: cursive;
    font-size: large;
}

#heading{
    background-color:rgb(128, 20, 104);
    width: 100%;
    height: 100%;
}

#intro{
    margin-left: 30%;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#about{
    padding: 1%;
}
img{
    padding: 1%;
}
#letterpage{
    padding-left: 4%;
}
#letter{
    padding-left: 5%;
    height: 15%;
    width: 15%;
}
#new{
    padding-left: 5%;
}
#newpage{
    padding-left: 15%;
}
#finalpage{
    padding-left: 25%;
}
#final{
    padding-left: 10%;
    height: 30%;
    width: 20%;
}
footer{
    text-align: center;
    background-color:beige;
    clear: both;
}